body {
  background-image: url("imagens/floresta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100%;
  margin: 0;
}

.header {
  background-color: white;
  border-bottom: 1px inset;
  font-size: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;
}

.nav-top {
  position: initial;
  text-align: center;
}

.nav-top ul {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.nav-top ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-top li a:hover:not(.active) {
  color: green;
}

.nav-top li a:link, .nav-top li a:visited {
  color: black;
}

.main {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-section {
  background-color: #ebf3e7;
  max-width: 900px;
  padding-top: 45px;
  min-height: 850px;
}

.aside {
  text-align: center;
}

.trilha {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.article {
  background-color: white;
  max-width: 880px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 1px 1px grey;
  min-height: 780px;
  margin-bottom: 85px;
}

.card {
  background-color: white;
  max-width: 880px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 1px 1px grey;
}

.recommendation {
  background-color: white;
  max-width: 880px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 1px 1px grey;
  margin-bottom: 85px;
}

.article .text {
  margin-left: 20px;
  margin-right: 20px;
}

.card .text {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
}

.recommendation .text {
  margin-left: 20px;
  margin-right: 20px;
}

.article .text h2, .card .text h2 {
  margin-top: 25px;
  padding-top: 25px;
  color: green;
}

.card .text h3, .recommendation h3 {
  margin-top: 25px;
  padding-top: 25px;
  color: green;
}

/* .aside-bottom {
  text-align: left;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.form {
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.inp-inline {
  width: 450px;
}

.text-area {
  width: 450px;
  height: 80px;
} */

.footer {
  background-color: #eeeeee;
  border-top: 1px outset;
  padding: 5px;
  text-align: center;
  font-size: 11px;
  position: fixed;
  width: 100%;
  bottom:0;
  left: 0;
}

/* @media screen and (max-width: 600px) and (min-width: 539px) {
  .inp-inline, .text-area {
    width: 200px;
  }
} */

@media (max-width: 539px) {
  .inp-inline, .text-area {
    width: 200px;
  }

  .main-section {
    padding-top: 78px;
  }

  .nav-top {
    width: 300px;
    position: initial;
    text-align: center;
  }

  .article .text, .card .text {
    margin-left: 20px;
    margin-right: 40px;
  }
}
