body {
  background-image: url("imagens/floresta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100%;
  margin: 0;
}

.header {
  background-color: white;
  border-bottom: 1px inset;
  font-size: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 60px;
}

.nav-top {
  position: initial;
  text-align: center;
}

.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.nav-top ul li {
  height: 60px;
}

.nav-top ul li a {
  display: block;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
}

.nav-top li a:hover:not(.active) {
  background-color: #ebf3e7;
  color: green;
}

.nav-top li a:link, .nav-top li a:visited {
  color: black;
}

.main {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-section {
  background-color: #ebf3e7;
  max-width: 900px;
  padding-top: 45px;
  min-height: 850px;
}

.aside {
  text-align: center;
}

.trilha {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.article {
  background-color: white;
  max-width: 880px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 1px 1px grey;
  min-height: 780px;
  margin-bottom: 85px;
}

.card {
  background-color: white;
  max-width: 880px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 1px 1px grey;
}

.recommendation {
  background-color: white;
  max-width: 880px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 1px 1px grey;
  margin-bottom: 85px;
}

.article .text {
  margin-left: 20px;
  margin-right: 20px;
}

.card .text {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
}

.recommendation .text {
  margin-left: 20px;
  margin-right: 20px;
}

.article .text h2, .card .text h2 {
  margin-top: 25px;
  padding-top: 25px;
  color: green;
}

.card .text h3, .recommendation h3 {
  margin-top: 25px;
  padding-top: 25px;
  color: green;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
}

.form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  line-height: 8pt;
}

.form-field-msg {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  line-height: 8pt;
}

.label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border: 1px solid green;
  border-radius: 10px;
}

.input-msg {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border: 1px solid green;
  border-radius: 10px;
  width: 212px;
  height: 50px;
}

.btn-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  background-color: green;
  border: none;
  color: white;
  font-weight: 900;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.social-network {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: left;
  padding-bottom: 10px;
  margin-left: 10px;
}

.network-img {
  height: 30px;
}

.network {
  padding-left: 10px;
}

.footer {
  background-color: #eeeeee;
  border-top: 1px outset;
  padding: 5px;
  text-align: center;
  font-size: 11px;
  position: fixed;
  width: 100%;
  bottom:0;
  left: 0;
}

@media (max-width: 539px) {
  .inp-inline, .text-area {
    width: 200px;
  }

  .main-section {
    padding-top: 107px;
  }

  .nav-top {
    width: 300px;
    position: initial;
    text-align: center;
  }

  .article .text, .card .text {
    margin-left: 20px;
    margin-right: 40px;
  }
}
